@import url(http://shapegraph.com/cdn/css/shapegraph.css);
@import url(http://shapegraph.com/cdn/css/sgicons.css);

html,body {
  width: 100%;
	margin: 0px;
	font-family: Work Sans;
	font-weight: 100;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
}

iframe {
  width: 100%;
  height: 414px;
  background: #f8f9fe;
}

form {
  width: 90%;
  margin: 5% auto;
}

form input {
	width: 50%;
}

form label {
  width: 38%;
  margin-right: 5%;
}

form button {
	width: 40%;
  display: block;
  margin: 10px auto 0px;
}

p {
  margin: 10px 0px;
}

h1, p {
  text-align: center;
}

h1 {
  font-family: Work Sans;
  font-weight: 200;
}

ul {
  width: 80%;
  text-align: left;
}
